*{
 margin: 0;
 padding: 0;
}
body{
    text-align:center;
    width:100%;
    font-family:sans-serif;
    background-color: rgb(247,247,247);
    
} 
.header h1{
    background-color: rgb(59,79,152);
    color:rgb(247,247,247);
    padding:25px ;
    text-align: left;
}
.page{
margin:550px 50px 150px 240px;
padding:30px 20px 20px 40px;
text-align:left;
margin-top:10px;
}
.page h1 {
	font-size: 36px;
	
}
.page p {
    font-size: 20px;
font-weight:normal;
padding:0 20px;
}
	


.page  input[type="text"],input[type="password"],input[type="email"]
{
    width:250px;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 


.page input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-align:center;
}
.page input[type=date]{
    color:white;
    padding: 7px 20px 7px 10px;
   
}
