*{
    margin: 0px;
    padding: 0px;
  }
  nav{
    text-align: center;
    position: fixed;
  }
body{
background-color:#f2f2f2;
font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    vertical-align: middle;
    display: inline-block;
    
}
li {
   display: inline-block;
    vertical-align: middle;
    padding: 15px 25px 10px 25px;
}
li a {
    list-style: none;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}
.active {
    color: green;
}
img, .logo{
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 65px;
}
.mobile{
  display: none;
}
INPUT.toggle-navigation-x {
    display: none;
}
 
INPUT.toggle-navigation-x + LABEL {
    position: fixed;
    top: 20px;
    left: auto;
    right: 20px;;
    bottom: auto;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

@media (max-width: 767px) {

  
 INPUT.toggle-navigation-x + LABEL {
        display: block;
         
    }
    
}
 
INPUT.toggle-navigation-x + LABEL SPAN,
INPUT.toggle-navigation-x + LABEL:before,
INPUT.toggle-navigation-x + LABEL:after {
    content: "";
    position: absolute;
    top: 0;
    left: 25%;
    right: 5%;
    bottom: 0;
    transition: 10ms;
    transform-origin: 0 0 0;
    display: block;
    border-top: 2px solid #000;
    width: auto;
    height: 0;
    margin: auto 0;
}
 
INPUT.toggle-navigation-x + LABEL:before {
    top: 25%;
    bottom: auto;
}
 
INPUT.toggle-navigation-x + LABEL:after {
    top: auto;
    bottom: 25%;
}
 
INPUT.toggle-navigation-x:checked + LABEL SPAN {
    opacity: 0;
}
 
INPUT.toggle-navigation-x:checked + LABEL:before,
INPUT.toggle-navigation-x:checked + LABEL:after {
    width: 50.6667%;
}
 
INPUT.toggle-navigation-x:checked + LABEL:before {
    transform: rotate(45deg);
}
 
INPUT.toggle-navigation-x:checked + LABEL:after {
    transform: rotate(-45deg);
}
 
INPUT.toggle-navigation-x ~ * {
    transition: transform 240ms;
}
 
INPUT.toggle-navigation-x:checked ~ * {
    transform: translatex(240px) !important;
}
 
@media (max-width: 767px) {
    .mobile {
        display: block;
        
        }
      nav ul .mobile-hide{
        display: none;
      }
    NAV {
        background: silver;
        box-shadow: inset -10px 0 10px rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        bottom: 0;
        width: 240px;
        left: -240px;
        height: 100%;
        text-align: center;
        display: block;
    }
    body{
background-color:#f2f2f2;
font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    display:block;
    
}
li {
    width: 100%;
   display: block;
   padding:40px 10px 10px 10px;
    
}
li a {
    position: relative;
    list-style: none;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}
.active {
    color: green;
}
img, .logo{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 65px;
  }
}