<app-navbar></app-navbar>
<div class="container dash-main">
<accordion>
  <accordion-group heading="Master Data Creation/Updates">
    This content is straight in the template.
  </accordion-group>

  <accordion-group heading="Schedule Frequency">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Checklist definition">
<!--
<div class="row ml-4">
  <div class="col-2">
    <label for="coutOfAuth">Does drug belong to Aurbindo?</label>
  </div>
  <div class="col-3">
    <div class="form-group">
        <input type="text" id="coutOfAuth" class="form-control">
    </div>

  </div>
</div>
<h4>product</h4>
<div class="wrapper ml-5 mt-4">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <label for="coutOfAuth">Country Of Authorization</label>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <input type="text" id="coutOfAuth" class="form-control">
            </div>
            </div>
      </div>
      <div class="row">
          <div class="col-2">
              <label for="coutOfAuth">Country Of Authorization</label>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <input type="text" id="coutOfAuth" class="form-control">
              </div>
              </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="coutOfAuth">Country Of Authorization</label>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <input type="text" id="coutOfAuth" class="form-control">
                </div>
                </div>
          </div>
          <div class="row">
              <div class="col-2">
                  <label for="coutOfAuth">Country Of Authorization</label>
                </div>
                <div class="col-3">
                  <div class="form-group">
                      <input type="text" id="coutOfAuth" class="form-control">
                  </div>
                  </div>
            </div>
</div>-->

   <div class="">

  <form (ngSubmit)="login()" [formGroup]="SignupForm" novalidate>
 <div class="form-group ">
   <div class="row">
              <label class="control-label col-sm-3" >Does Drugs Belong to Aurbindo?</label>
             
              <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> 
                <span class="switch-handle"></span> 
                </label>
              <!-- <div class="col-sm-2">
                <label class="switch">
                 <input type="checkbox">
                 <span class="slider"></span>
                </label>
              </div> -->
           </div>
</div>

            <div class="clearfix">

                <div class="form-group ">
                    <div class="row">
                  <label class="control-label col-sm-3">Country of Authorization:</label>
                <div class="col-sm-4">

                 <input type="text" formControlName="username" class="form-control" [(ngModel)]="abcd">
                 <small [hidden]="SignupForm.controls.username.valid || SignupForm.controls.username.untouched" class="text-danger" translate>
                  This field is required
                 </small>
              </div>
              </div>
            </div>
          </div>

              <div class="form-group ">
                  <div class="row">
                <label class="control-label col-sm-2" style="color:#3498DB">Product</label>
              </div>
              <div class="form-group">
                  <div class="row">
                <label class="control-label p-l-30 col-sm-3">Publication date:</label>
                <div class="col-sm-3">
                  <input type="date" formControlName="date2" class="form-control" placeholder="" [(ngModel)]="tuv" >
                  <small [hidden]="SignupForm.controls.date2.valid || SignupForm.controls.date2.untouched" class="text-danger" translate>
                    date field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group row">

                <label class="control-label p-l-30 col-sm-3">Approval date:</label>
                <div class="col-sm-3">
                  <input type="date" formControlName="date1" class="form-control" placeholder="" [(ngModel)]="qrs" >
                  <small [hidden]="SignupForm.controls.date1.valid || SignupForm.controls.date1.untouched" class="text-danger" translate>
                    date field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group">
                  <div class="row">
                <label class="control-label p-l-30 col-sm-3">Withdrawl date:</label>
                <div class="col-sm-3">
                  <input type="date" formControlName="date2" class="form-control" placeholder="" [(ngModel)]="tuv" >
                  <small [hidden]="SignupForm.controls.date2.valid || SignupForm.controls.date2.untouched" class="text-danger" translate>
                    date field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group">
                  <div class="row">
                <label class="control-label col-sm-2" style="color:#3498DB">Drug</label>
              </div></div>
              <div class="form-group ">
                  <div class="row">
                <label class="control-label p-l-50 col-sm-3">Start date</label>
                <div class="col-sm-3">
                  <input type="date" formControlName="date3" class="form-control" placeholder="" [(ngModel)]="wxy" >
                  <small [hidden]="SignupForm.controls.date3.valid || SignupForm.controls.date3.untouched" class="text-danger" translate>
                    date field is required
                  </small>
                </div>
              </div>
              </div>
              <div class="form-group  ">
                  <div class="row">
                <label class="control-label p-l-30 col-sm-3">Approval date:</label>

                <div class="col-sm-3">
                  <input type="date" formControlName="date4" class="form-control" placeholder="" [(ngModel)]="zab" >
                  <small [hidden]="SignupForm.controls.date4.valid || SignupForm.controls.date4.untouched" class="text-danger" translate>
                    date field is required
                  </small>
                </div>
              </div>
              </div>
              <div class="form-group  ">
                  <div class="row">
                <label class="control-label p-l-30 col-sm-3">Withdrawl date:</label>

                <div class="col-sm-3">
                  <input type="date" formControlName="date5" class="form-control" placeholder="" [(ngModel)]="abc" >
                  <small [hidden]="SignupForm.controls.date5.valid || SignupForm.controls.date5.untouched" class="text-danger" translate>
                    date field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group  ">
                  <div class="row">
                <label class="control-label  col-sm-3">Route of administration of drugs:</label>

                <div class="col-sm-4">
                  <input type="text" formControlName="ApprovalDate" class="form-control" placeholder="" [(ngModel)]="def" >
                  <small [hidden]="SignupForm.controls.ApprovalDate.valid || SignupForm.controls.ApprovalDate.untouched" class="text-danger"
                    translate>
                    this field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group  ">
                  <div class="row">
                <label class="control-label col-sm-3">Formulation of drugs:</label>

                <div class="col-sm-4">
                  <input type="text" formControlName="abcde" class="form-control" placeholder="" [(ngModel)]="hij" >
                  <small [hidden]="SignupForm.controls.abcde.valid || SignupForm.controls.abcde.untouched" class="text-danger" translate>
                    this field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group  ">
                  <div class="row">
                <label class="control-label col-sm-3">Drug Brand:</label>

                <div class="col-sm-4">
                  <input type="text" formControlName="efgh" class="form-control" placeholder="" [(ngModel)]="klm" 
                  >
                  <small [hidden]="SignupForm.controls.efgh.valid || SignupForm.controls.efgh.untouched" class="text-danger" translate>
                    this field is required
                  </small>
                </div>
                </div>
              </div>
              <div class="form-group  ">
                  <div class="row">
                <label class="control-label col-sm-3">Relationship between drug and event:</label>

                <div class="col-sm-4">
                  <input type="text"formControlName="hijk" class="form-control" placeholder="" [(ngModel)]="nop" >
                  <small [hidden]="SignupForm.controls.hijk.valid || SignupForm.controls.hijk.untouched" class="text-danger" translate>
                    this field is required
                  </small>
                </div>
                </div>
              </div>

            <div class="form-group">
                <div class="row">
              <label class="control-label col-sm-2  " style="color:#3498DB">Author comment</label>
            </div></div>

              <div class="form-group  ">
                  <div class="row">
              <label class="control-label p-l-30 col-sm-3">Case Report for database testing?</label>
             
              <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> 
                <span class="switch-handle"></span> 
                </label>
            </div></div>
  


            <div class="form-group ">
                <div class="row">
              <label class="control-label p-l-30 col-sm-3">Drug used for treatment?</label>

              <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> 
                <span class="switch-handle"></span> 
                </label>
              </div>
            </div>



          </form>

    </div><br>




  </accordion-group>

</accordion>
</div>
<footer class="container">
    <div class="clearfix ">
      <span>
        <a href="">About</a>&nbsp;|
        <a href="">Privacy</a>
      </span>
      <a>Instance Assistance:1800-180-1503</a>
      <span>
        <a>For Aurbindos pharma Internal use only</a>
      </span>
    </div>
  </footer>


