body {
  margin: 80px;
  font-family: sans-serif;
  line-height: 1.28;
  text-align: left;
  background-color: #f2f2f2;

 }

.btn-primary{
    background-color: #22527d;
    border-style: solid;
    border-color:white;
    width: 70px;
    height:50px;
    margin-right :15px;
    margin-left: 15px;
}
.btn-default{
    border-style: solid;
    border-color:#22527A;
    width: 70px;
    height:50px;
}
.tab-content{
  background: #f2f2f2;
  border: 59px solid #f2f2f2;
  padding-top: -10px;
}


