<app-navbar></app-navbar>




<div class="tab-content">
<form (ngSubmit)="login()" [formGroup]="SignupForm" novalidate>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-group row">
<label class="control-label col-sm-3">Weekly</label>
<div class="col-sm-11">
<input type="text" formControlName="Keyword" class="form-control" placeholder="Enter Keyword" [(ngModel)]="a" required>
<small [hidden]="SignupForm.controls.Keyword.valid || SignupForm.controls.Keyword.untouched" class="text-danger" translate>
Keyword is required
</small>
<br>
</div>

<div class="col-sm-11">
<input type="text" formControlName="Criteria" class="form-control" placeholder="Enter Search Criteria" [(ngModel)]="b"  required>
<small [hidden]="SignupForm.controls.Criteria.valid || SignupForm.controls.Criteria.untouched" class="text-danger" translate>
Criteria is required
</small>
<br>
</div>

 <div class="form-group col-md-2">
      <select id="sel1" class="form-control"formControlName="Springer" [(ngModel)]="c">
        <option selected>Springer</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <label for="sel1">
<small [hidden]="SignupForm.controls.Springer.valid || SignupForm.controls.Springer.untouched" class="text-danger" translate>
Option is required
</small></label>
    </div>


<div class="form-group col-md-2">
<select class="form-control" formControlName="Month" [(ngModel)]="d" required>
<option>Month</option>
<option value="January">January</option>
<option value="Febuary">Febuary</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="August">August</option>
<option value="September">September</option>
<option value="October">October</option>
<option value="November">November</option>
<option value="December">December</option>
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Month.valid || SignupForm.controls.Month.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2">
<select class="form-control" formControlName="Week" id="sel1"  [(ngModel)]="e">
<option>Week</option>
<option value="Monday">Monday</option>
<option value="Tuesday">Tuesday</option>
<option value="Wednesday">Wednesday</option>
<option value="Thursday">Thursday</option>
<option value="Friday">Friday</option>
<option value="Saturday">Saturday</option>
<option value="Sunday">Sunday</option>
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Week.valid || SignupForm.controls.Week.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2">
<div class="col-xs-3">
<input class="form-control" id="ex1" type="Time" formControlName="time" [(ngModel)]="f" style="margin-top:0px">
<label for="ex-1">
<small [hidden]="SignupForm.controls.time.valid || SignupForm.controls.time.untouched" class="text-danger" translate>
Time is required
</small></label>
</div>
</div>

<div class="form-group col-md-2">
<div class="col-xs-2">
<input class="form-control" id="ex1" type="Time" formControlName="time1" [(ngModel)]="g"style="margin-top:0px">
<label for="ex-1">
<small [hidden]="SignupForm.controls.time1.valid || SignupForm.controls.time1.untouched" class="text-danger" translate>
Time is required
</small></label>
</div>
</div>

<div style="margin-top: -28px;
    margin-left: 14px;"> 
<br>
<button type="button" class="btn btn-primary col-md-5">Save</button>
<button type="button" class="btn btn-default col-md-5" (click)="clear()">Clear</button>
</div>
</div>


<div class="form-group  row">
<label class="control-label col-sm-3">Monthly</label>
<div class="col-sm-11">
<input type="text" formControlName="Keyword1" class="form-control" placeholder="Enter Keyword" [(ngModel)]="h">
<small [hidden]="SignupForm.controls.Keyword1.valid || SignupForm.controls.Keyword1.untouched" class="text-danger" translate>
Keyword is required
</small>
<br>
</div>

<div class="col-sm-11">
<input type="text" formControlName="Criteria1" class="form-control" placeholder="Enter Search Criteria" [(ngModel)]="i">
<small [hidden]="SignupForm.controls.Criteria1.valid || SignupForm.controls.Criteria1.untouched" class="text-danger" translate>
Criteria is required
</small>
<br>
</div>

<div class="form-group col-md-2">
<select class="form-control" id="sel1" formControlName="Springer1"[(ngModel)]="j">
<option>Springer</option>
<option>2</option>
<option>3</option>
<option>4</option>  
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Springer1.valid || SignupForm.controls.Springer1.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2">
<select class="form-control" id="sel1"formControlName="Month1"[(ngModel)]="k">
<option>Month</option>
<option value="January">January</option>
<option value="Febuary">Febuary</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="August">August</option>
<option value="September">September</option>
<option value="October">October</option>
<option value="November">November</option>
<option value="December">December</option>
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Month1.valid || SignupForm.controls.Month1.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2">
<select class="form-control" id="sel1"formControlName="Week1"[(ngModel)]="l">
<option>Week</option>
<option value="Monday">Monday</option>
<option value="Tuesday">Tuesday</option>
<option value="Wednesday">Wednesday</option>
<option value="Thursday">Thursday</option>
<option value="Friday">Friday</option>
<option value="Saturday">Saturday</option>
<option value="Sunday">Sunday</option>
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Week1.valid || SignupForm.controls.Week1.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2">
<div class="col-xs-2">
<input class="form-control" id="ex1" type="Time" formControlName="time2" [(ngModel)]="m"style="margin-top:0px">
<label for="ex-1">
<small [hidden]="SignupForm.controls.time2.valid || SignupForm.controls.time2.untouched" class="text-danger" translate>
Time is required
</small></label>
</div>
</div>

<div class="form-group col-md-2">
<div class="col-xs-2">
<input class="form-control" id="ex1" type="Time" formControlName="time3" [(ngModel)]="n"style="margin-top:0px">
<label for="ex-1">
<small [hidden]="SignupForm.controls.time3.valid || SignupForm.controls.time3.untouched" class="text-danger" translate>
Time is required
</small></label>
</div>
</div>

<div style="margin-top: -28px;
    margin-left: 14px;"> 
<br>
<button type="button" class="btn btn-primary col-md-5">Save</button>
<button type="button" class="btn btn-default col-md-5" (click)="clear1()">Clear</button>
</div>
</div>



<div class="form-group  row">
<label class="control-label col-sm-3">Custom</label>
<div class="col-sm-11">
<input type="text" formControlName="Keyword2" class="form-control" placeholder="Enter Keyword" [(ngModel)]="o">
<small [hidden]="SignupForm.controls.Keyword2.valid || SignupForm.controls.Keyword2.untouched" class="text-danger" translate>
Keyword is required
</small>
<br>
</div>

<div class="col-sm-11">
<input type="text" formControlName="Criteria2" class="form-control" placeholder="Enter Search Criteria" [(ngModel)]="p">
<small [hidden]="SignupForm.controls.Criteria2.valid || SignupForm.controls.Criteria2.untouched" class="text-danger" translate>
Criteria is required
</small>
<br>
</div>

<div class="form-group col-md-2">
<select class="form-control" id="sel1" formControlName="Springer2" [(ngModel)]="q">
<option>Springer</option>
<option>2</option>
<option>3</option>
<option>4</option>  
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Springer2.valid || SignupForm.controls.Springer2.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2">
<select class="form-control" id="sel1" formControlName="Month2"[(ngModel)]="r">
<option>Month</option>
<option value="January">January</option>
<option value="Febuary">Febuary</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="August">August</option>
<option value="September">September</option>
<option value="October">October</option>
<option value="November">November</option>
<option value="December">December</option>
</select><label for="sel1">
<small [hidden]="SignupForm.controls.Month2.valid || SignupForm.controls.Month2.untouched" class="text-danger" translate>
Option is required
</small></label>
</div>

<div class="form-group col-md-2" style="width:15%">
<input class="form-control" id="ex1" type="Date" formControlName="date1" [(ngModel)]="s"style="margin-top:0px">
<label for="ex-1">
<small [hidden]="SignupForm.controls.date1.valid || SignupForm.controls.date1.untouched" class="text-danger" translate>
Date is required
</small></label>
</div>


<div class="form-group col-md-2" style="width:15%">
<input class="form-control" id="ex1" type="Date" formControlName="date2" [(ngModel)]="t"style="margin-top:0px">
<label for="ex-1">
<small [hidden]="SignupForm.controls.date2.valid || SignupForm.controls.date2.untouched" class="text-danger" translate>
Date is required
</small></label>

</div>


<div class="col-sm-2" style="width:10%">
<input type="text" formControlName="name" class="form-control" placeholder="Enter Name" [(ngModel)]="u">
<small [hidden]="SignupForm.controls.name.valid || SignupForm.controls.name.untouched" class="text-danger" translate>
Name is required
</small>
   </div> 
<div style="margin-top: -28px;
    margin-left: 14px;"> 
<br>
<button type="button" class="btn btn-primary col-md-5">Save</button>
<button type="button" class="btn btn-default col-md-5" (click)="clear2()">Clear</button>
</div>

</div>

</form>

</div>

<div class="footer">
            <app-footer></app-footer>
          </div>