view sourceprint?
01
nav li > ul li{
02
    display: block;
03
}
04
 
05
nav  li > ul li a {
06
    color: #111;
07
    display: block;
08
    line-height: 2em;
09
    padding: 0.5em 2em;
10
    text-decoration: none;
11
}
12
 
13
/* Change the background color when mouse over items */
14
nav li:hover {
15
    background-color: #666;
16
}
17
/* display the submenu on mouse over main menu item*/
18
nav li:hover > ul{
19
    position:absolute;
20
    display : block;
21
}
