<div class="nav">
    <nav class="navbar">
        <div class="toggle">
            <span><a class="pull-left"><i class="fa fa-bars"></i></a></span>
            <span><a><img class="pull-left" src="assets/images/aurobindo-759.jpg" style="height: 50px;width: 50px;"></a></span>
        </div>
        <div class="search">
            <input type="text" name="search" value="search.." style="width: 200px;height: 30px;">
        </div>
        <div class="doctor">
            <div class="name">
                <p><strong>Dr.Tripathy</strong><br>
                    <small>Researcher</small>
                </p>
            
            <div class="image">
                    <img src="assets/images/images.jpeg" style="height: 50px;width: 50px;">
                    <span></span>
                    <div class="circle">
                        <span>9</span>
                    </div>
            </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">

    <div class="card-deck">
      <div class="card bg-primary">
        <div class="card-body">
              <div class="block1">
                  <h5 class="heading">2166
                 <span class="pull-right"> <i class="fas fa-file-alt" ></i></span></h5>
                 
                 <h6 class ="text">Abacavir Lanivudine</h6></div>
                 
               <div class="block1-sub">
                    <h5>Weekly</h5></div>
                <div class="row">
                    <div class="col-md-8">23-30Sept </div> 
                    <div class="col-md-4">  published</div>
                
                </div>
                
        </div>
      </div>
      <div class="card bg-warning">
        <div class="card-body">
          <div class="block2">
                      <h5 class="heading">166
                     <span class="pull-right"> <i class="fas fa-file-alt"></i></span></h5>
                     
                      <h6 class="text">Deanol Ascorbic Acid Magnesium</h6>
          </div>
          <div class="block2-sub">
                      <h5>Monthly</h5></div>
  
                      <div class="row">
                              <div class="col-md-8">Aug 01- 31 </div> 
                              <div class="col-md-4">  springer</div>
                          
                          </div>
                  
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body">
             <div class="block3">
                 <h6 class="heading">166
                 <span class="pull-right"> <i class="fas fa-file-alt"></i></span></h6>
                  
                 <h6 class="text">Amirolide and Hydrocholotrhiazide...</h6>
               </div>
              
             <div class="block3-sub">
                  <h5>Custom</h5></div>
  
                  <div class="row">
                          <div class="col-md-8">Aug 10-Oct 3</div> 
                          <div class="col-md-4">springer</div>
                      
                      </div>
          </div>  
        </div>
      
      <div class="col-md-1">
            <span class="next-block"><a href="#"><i class="fa fa-angle-right"></i></a></span>
      </div>
    </div>
  </div>
  
  <div class="content clearfix">
  <p> 
  <strong>Abacavir Lamivundine...</strong>
  Weekly(20-30sept) <span>
  <i class="fa fa-ellipsis-v" style="background-color: white;float: right"></i></span>
  </p>
  
  <div class="scroll">
  <div class="article-list" >   
    <div id="article-title">
        <div class="">
            <strong>
                <a href="#" class="">
                        <p class="pull-left">
                        Article title article title article title article title 
                        </p>
  
                        <span class="pull-right"><i class="fa fa-ellipsis-v" style="margin:0px 10px 0px 10px;"></i></span>
                </a>
            </strong>
        </div>
    </div>
    
    
    <div class="row" id="article-content">
        <div class="col-md-10 pull-left">
        <p>
            Article title article title article title
            Article summary article summary article summary 
            Article summary article summary article summary 
            article summary article summary article summary article summary article summary
            article summary article summary article summary
        </p>
        </div>
        <div class="col-md-2 pull-right" id="article-hover-content">
            <p>
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">view full</a><br>
                <a href="#">remove</a>
            </p>
        </div>
    </div>
  </div>
  <div class="article-list" >   
    <div id="article-title">
        <div class="">
            <strong>
                <a href="#" class="">
                    <p class="pull-left" style="margin:0">
                        Article title article title article title article title 
                    </p>
                    <span class="pull-right"><i class="fa fa-ellipsis-v"style="margin:0px 10px 0px 10px;" ></i></span>
                    </a>
            </strong>
        </div>
    </div>
        
        
  <div class="row" id="article-content">
  <div class="col-md-10 pull-left">
    <p>
        Article title article title article title
        Article summary article summary article summary 
        Article summary article summary article summary 
        article summary article summary article summary article summary article summary
        article summary article summary article summary
    </p>
  </div>
  <div class="col-md-2 pull-right" id="article-hover-content">
    <p>
        <a href="#">view full</a><br>
        <a href="#">remove</a>
    </p>
  </div>
  </div>
  </div>
  <div class="article-list" >   
    <div id="article-title">
        <div class="">
            <strong>
                <a href="#" class="">
                        <p class="pull-left" style="margin:0">
                        Article title article title article title article title 
                        </p>
  
                        <span class="pull-right"><i class="fa fa-ellipsis-v" style="margin:0px 10px 0px 10px;"></i></span>
                </a>
            </strong>
        </div>
    </div>
    
    
    <div class="row" id="article-content">
        <div class="col-md-10 pull-left">
        <p>
            Article title article title article title
            Article summary article summary article summary 
            Article summary article summary article summary 
            article summary article summary article summary article summary article summary
            article summary article summary article summary
        </p>
        </div>
        <div class="col-md-2 pull-right" id="article-hover-content">
            <p>
                <a href="#">view full</a><br>
                
                <a href="#">remove</a>
            </p>
        </div>
    </div>
  </div>
  <div class="article-list" >   
        <div id="article-title">
            <div class="">
                <strong>
                    <a href="#" class="">
                            <p class="pull-left" style="margin:0">
                            Article title article title article title article title 
                            </p>
  
                            <span class="pull-right"><i class="fa fa-ellipsis-v" style="margin:0px 10px 0px 10px;"></i></span>
                    </a>
                </strong>
            </div>
        </div>
        
        
        <div class="row" id="article-content">
            <div class="col-md-10 pull-left">
            <p>
                Article title article title article title
                Article summary article summary article summary 
                Article summary article summary article summary 
                article summary article summary article summary article summary article summary
                article summary article summary article summary
            </p>
            </div>
            <div class="col-md-2 pull-right" id="article-hover-content">
                <p>
                    <a href="#">view full</a><br>
                    <a href="#">remove</a>
                </p>
            </div>
        </div>
    </div>
    <div class="article-list" >   
            <div id="article-title">
                <div class="">
                    <strong>
                        <a href="#" class="">
                                <p class="pull-left" style="margin:0">
                                Article title article title article title article title 
                                </p>
  
                                <span class="pull-right"><i class="fa fa-ellipsis-v" style="margin:0px 10px 0px 10px;"></i></span>
                        </a>
                    </strong>
                </div>
            </div>
            
            
            <div class="row" id="article-content">
                <div class="col-md-10 pull-left">
                <p>
                    Article title article title article title
                    Article summary article summary article summary 
                    Article summary article summary article summary 
                    article summary article summary article summary article summary article summary
                    article summary article summary article summary
                </p>
                </div>
                <div class="col-md-2 pull-right" id="article-hover-content">
                    <p>
                        <a href="#">view full</a><br>
                        <a href="#">remove</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="article-list" >   
                <div id="article-title">
                    <div class="">
                        <strong>
                            <a href="#" class="">
                                    <p class="pull-left">
                                    Article title article title article title article title 
                                    </p>
    
                                    <span class="pull-right"><i class="fa fa-ellipsis-v" style="margin:0px 10px 0px 10px;"></i></span>
                            </a>
                        </strong>
                    </div>
                </div>
                
                
                <div class="row" id="article-content">
                    <div class="col-md-10 pull-left">
                    <p>
                        Article title article title article title
                        Article summary article summary article summary 
                        Article summary article summary article summary 
                        article summary article summary article summary article summary article summary
                        article summary article summary article summary
                    </p>
                    </div>
                    <div class="col-md-2 pull-right" id="article-hover-content">
                        <p>
                            <a href="#">view full</a><br>
                            <a href="#">remove</a>
                        </p>
                    </div>
                </div>
            </div>
  </div>
         
  <i class="fa fa-ellipsis-v" style="background-color: white; float: right; margin: 15px 10px 0px 10px;"></i>
  </div>
  <div class ="pull-right" >
  <div class ="text-center">
        <h4 style="padding: 5px 20px 0px 40px;">
                <a href=""><i class="fa fa-download"  style="font-size:20px;color: black;"></i></a>&nbsp;
                <a href=""><i class=" fa fa-file-word" style="font-size:20px;color: blue"></i></a>&nbsp;
                <a href=""><i class="fa fa-file-pdf" style="font-size:20px;color:red"></i></a>&nbsp;
             
              </h4>
  
  </div>
  </div>
  <footer>
       
    <div class="clearfix container">
            
      <span class="pull-left"><a href="" >About</a>&nbsp;|<a href="">Privacy</a></span>
      <a class="pull-left">Instance Assistance:1800-180-1503</a>
      <span class="pull-right"><a>For Aurbindos pharma Internal use only</a></span>
    </div>
    
    
    
</footer>
  
  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                <div id="nav"></div>
                <div class="popup">
                  <h6><u> Durgs</u> 2015 Apr,75(5)503-14.doi 10.1007/s40265-015-0361-6.</h6>
  
                  <h4>Abacavir/dolutegravir/lamivudine single-tablet regimen: a review of its use in HIV-infection.</h4>
                  <h5><u><span>Grejg SL  ,  Deeks ED.</span></u></h5>
                  
                  <h5><i class="fa fa-plus-square"></i><b>Author information</b></h5>
                  
                  <h5><b>Erratum in</b></h5>
                  <h6><span class="a">Erratum to: abacavir/dolutegravir/lamivudine single-tablet regimen: a review of its use in HIV-1 infection.</span> <span style="color:grey">[Drugs.2015].</span></h6>
                  
                  <h3>Abstract</h3>
                  <p> A fixed-dose ,single-tablet regimen comprising the integrase strand transfer inhibitor(INSTI) dolutegravir and the nucleos
                      (t)ide reverse transcriptase inhibitor (NRTIs) abacavir and lamivudine (abacavir/dolutegravir/lamivudine:Triumeq&#174;)
                       is now available for the treatment of HIV-1 infection.In a randomized,double-blind,phase ||| trial in antiretroviral therapy (ART)-naive adults (SINGLE), 
                       once-daily dolutegravir plus abacavir/lamivudine had noninferior efficacy to once-daily efavirenz/tenofovir disoproxil fumarate (tenofovir DF)/emtricitabine with regard 
                       to establishing and sustaning virological suppression over 144 weeks,and subsequent superiority testing significantly favoured dolutegravir plus abacavir/lamivudine.
                       This outcome was predominantly driven by more favourable rates of discontinuation due to adverse events versus the efavirenz/tenofovir DF/emtricitabine group.
                       These date were generally supported by findings from other phase ||| trials in ART-naive adults receiving dolutegravirplus 
                      either abacavir/lamivudine or tenofovir DF/emtricitabine (SPRING-2and FLAMINGO).dolutegravir plus abacavir/lamivudineis generally well tolerated,with a tolerability profile that 
                      appears to be more favourablethan efavirenz/tenofovir DF/emtricitabine.
                      In the SINGLE trail,there werw no major treatment-emergent INSTI or NRTI resistance-associated mutations in dolutegravir plus abacavir/lamivudine recipient with protocol-defined virological failure,
                      indicating a high genetic barrier to resistance.Thus ,triple combination therapy with abacavir, dolutegravir and lamivudine is an effictive ,generally well tolerated option 
                      for the management of HIV-1 infection,with the convenient once-daily fixed-dose tablet providing 
                      the first single-tablet regimen option without tenofovir DF.</p>
                  
                  <h6> <span>PMID:25698454    <u> DOI:10.1007/s40265-015-0361-6</u></span></h6>
                  <h6> <span>[Indexed for MEDLINE]</span></h6>
                  
              
                  <img src="https://image.flaticon.com/icons/svg/174/174848.svg"  height="20" width="30">
              
                  <img src="https://image.flaticon.com/icons/svg/733/733579.svg"  height="20" width="30">
              
                  <img src="https://image.flaticon.com/icons/svg/124/124013.svg"  height="20" width="30"><br><br>
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">CheckList</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Comments</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Full Article Rquest</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Translation Request</a></li>
                      </ul>
                    
                   
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                          <form><br>
                            <div class="form-group">
                              <label class="control-label col-sm-3">Does Drugs Belong to Aurbindo</label>
                              <div class="col-sm-2">
                                <input type="text" class="form-control" >
                              </div>
                              <br><br>
                            </div>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">Country of Authorization</label>
                              <div class="col-sm-2">
                                <input type="text" class="form-control" >
                              </div>
                              <br><br>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-3" style="color:#22527d">Product<br><br></label>
                              <br><br>
                            </div>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">Publication Date</label>
                              <div class="col-sm-2">
                                <input type="date" class="form-control" >
                              </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">Approval Date</label>
                              <div class="col-sm-2">
                                <input type="date" class="form-control" >
                              </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">WithDrawl Date</label>
                              <div class="col-sm-2">
                                <input type="date" class="form-control" >
                              </div>
                            </div>   
                            <br><br>
                            <div class="form-group">
                              <label class="control-label col-sm-3" style="color:#22527d">Drug</label>
                            </div>
                            <br><br>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">Start Date</label>
                              <div class="col-sm-2">
                                <input type="date" class="form-control" >
                              </div>
                            </div>   
                            <br><br>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">Approval Date</label>
                              <div class="col-sm-2">
                                <input type="date" class="form-control" >
                              </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                              <label class="control-label  col-sm-3">WithDrawl Date</label>
                              <div class="col-sm-2">
                                <input type="date" class="form-control" >
                              </div>
                            </div>   <br><br>
                            <div class="form-group">
                              <button type="button" class="btn btn-outline-primary">Next</button>
                              <button type="button" class="btn btn-outline-primary">Save as Draft</button>
                              <button type="button" class="btn btn-outline-primary">clear</button>
                            </div>
                                        
                          </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                          <div id="contact">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in omnis, reprehenderit quo repellendus atque, eligendi, libero alias aspernatur ipsum modi necessitatibus sit voluptatum molestias suscipit quisquam architecto laudantium. A?</p>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">3</div>
                        <div role="tabpanel" class="tab-pane" id="settings">4</div>
                      </div>
                          </div>
                       </div>
      </div>
    </div>
    